@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root{
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
  
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
}
p{
    line-height: 1.5rem;
}
body{
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    background-color: var(--Very-light-gray);
}
a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}
button{
    cursor: pointer;
}
.bu-primary{
    background-color: var(--Moderate-blue);
    color: var(--White);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}
.comment-section{
    padding: 0 1rem;
    max-width: 80ch;
    margin: auto;
    margin-top: 1rem;
}
.container{
    border-radius: 8px;
    padding: 1.5rem;
    background-color: var(--White);
}
.comments-wrp{
    display: flex;
    flex-direction: column;
}
.reply-input{
    display: grid;
    margin-bottom: 1rem;
    grid-template-areas: "avatar input button";
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    min-height: 9rem;
    margin-top: 1.5rem;
}
.reply-input img{
    grid-area: avatar;
    width: 2.5rem;
    height: 2.5rem;
}
.reply-input button{
    grid-area: button;
    align-self: start;
}
.reply-input textarea{
    grid-area: input;
    padding: 1rem;
    width: 100%; /* this will be wider if we dont say width=100% */
    border: 1px solid var(--Light-gray);
    border-radius: 4px;
    resize: none; /* prevent user to resize the textarea */
}
.comment{
    margin-bottom: 1rem;
    display: grid;
    grid-template-areas:
        "score user controls"
        "score comment comment"
        "score comment comment";
    grid-template-columns: auto 1fr auto;
    gap: 1.5rem;
    row-gap: 1rem;
    color: var(--Grayish-Blue);
}
.c-score{
    grid-area: score;
    color: var(--Moderate-blue);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    width: 1rem;
    box-sizing: content-box;
    background-color: var(--Very-light-gray);
    border-radius: 8px;
    align-self: start;
}
.score-control{
    cursor: pointer;
}
.c-text{
    grid-area: comment;
}
.reply-to{
    color: var(--Moderate-blue);
    font-weight: 500;
}
.c-user{
    grid-area: user;
    display: flex;
    gap: 1rem;
    align-items: center;
} 
.usr-name{
    color: var(--Dark-blue);
    font-weight: 700;
    display: flex;
    align-items: end;
}  
.usr-img{
    height: 2rem;
    width: 2rem;
}
.c-controls{
    grid-area: controls;
    display: flex;
    gap: 1rem;
    color: var(--Moderate-blue);
    align-self: center;
}
.c-controls a{
    align-items: center; /* this will prevent shrinking icon height */
}
.edit , .reply{
    color: var(--Moderate-blue);
}
.edit{
    display: none;
}
.delete{
    color: var(--Soft-Red);
    display: none;
}
.control-icon{
    margin-right: 0.5rem;
}
.replies{
    display: flex;
    margin-left: 2.5rem;
    padding-left: 2.4rem;
    border-left: 2px solid var(--Light-grayish-blue);
}

.current-user .usr-name:after {
    content: 'you';
    color: var(--White);
    background-color: var(--Moderate-blue);
    font-weight: 400;
    border-radius: 2px;
    padding: 0 0.3rem 0.2rem 0.3rem;
    font-size: 0.8125rem;
    margin-left: 0.5rem;
}
.current-user .reply{
    display: none;
}
.current-user .delete, .current-user .edit{
    display: flex;
}

@media screen and (max-width:600px){
    .container{
        padding: 0.75rem;
    }
    .replies{
        padding-left: 1rem;
        margin-left: 0;
    }
    .comment{
        grid-template-areas: 
            "user user user"
            "comment comment comment"
            "score ... controls";
        gap: 0.5rem;
    }
    .c-score{
        flex-direction: row;
        width: auto;
    }
    .reply-input{
        grid-template-areas: 
            "input input input"
            "avatar ... button";
            gap: 0.5rem;
            align-items: center; /* aliging avatar photo to center */
    }
    .reply-input img{
        width: 2rem;
        height: 2rem;
    }
    .reply-input textarea{
        height: 6rem;
        padding: 0.5rem;
    }
}
    
/* ***** modal ***** */
.modal-wrp{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.invisible{
    display: none;
}
.modal{
    max-width: 32ch;
    padding: 1.5rem;
    display: grid;
    grid-template-areas: 
        'heading heading'
        'content content'
        'no yes';
    gap: 1rem;
}
.modal h3{
    grid-area: heading;
    color: var(--Dark-blue);
}
.modal button{
    color: var(--White);
    padding: 0.75rem;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}
.modal p{
    grid-area: content;
    color: var(--Grayish-Blue);
    line-height: 1.5rem;
}
.modal .no{
    grid-area: no;
    background-color: var(--Grayish-Blue);
}
.modal .yes{
    grid-area: yes;
    background-color: var(--Soft-Red);
}