body{
    background-color: #F5F6FA;
    margin: 0;
    padding: 5%;
    overflow-x: hidden;
    font-family: 'Rubik';
}

/* *****comment card***** */ 
.comment-cards-container{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.comment-card{
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: white;
    border-radius: 8px;
}
.card-header{
    width: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
}
.avatar-container{
    width: 30vw;
    max-width: 40px;
    min-width: 30px;
}
.avatar-container img{
    width: 100%;
}
.username{
    margin: 0 16px;
    color: #334253;
    font-weight: 500;
}
.comment-sent-time{
    font-weight: 400;
    color: #67727E;
}
.comment-content{
    color: #67727E;
    font-weight: 400;
    line-height: 24px;
}
.comment-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-feedback-container{
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    background-color: #F5F6FA;
    border-radius: 10px;
}
.feedback-number{
    font-weight: 500;
    color: #5357B6;
}
.plus-icon{
    height: 10px;
}
.minus-icon{
    width: 10px;
    height: 2.5px;
}
.comment-actions-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}
.reply-icon{
    height: 12.25px;
}
.reply-action{
    color: #5357B6;
}

/* *****reply card***** */ 
.reply-cards-container{
    display: flex;
    align-items: center;
}
.reply-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-left: 2px solid #E9EBF0;
    padding-left: 1rem;
}